<img src="https://sibcolombia.net/wp-content/uploads/2021/08/ecp-1.jpg" alt="Universidad de Los Andes" style="width: 200px;" align="center" frameborder="300"/>



# Introducción a Python

¿Por qué Python? 
- Es gratis
- Es un lenguaje de propósito general, es decir que se utiliza para muchas cosas como Machine Learning, Internet of things, creación de aplicaciones web, de escritorio y de móviles.
- Comunidad grande y colaborativa.


<!-- <center> 
<img src = "assets\why_python.PNG" width = "500"/>
</center> -->

Podemos usar a Python para casi cualquier cosa de desarrollo computacional, pero empecemos con lo primero. Es una calculadora :)

## Operaciones básicas
Realice alguna operación con los siguientes comandos
| Operación | Resultado       |
| --------- | --------------- |
|    +      | Suma            |
|    -      | Resta           |
|    *      | Multiplicación  |
|    /      | División        |
|    %      | Modulo          |
|    //     | División entera |
|    \*\*   | Potencia        |

In [1]:
print("### Suma ###")
print(5 + 5)
print("### Resta ###")
print(5 - 5)
print("### Multiplicación ###")
print(3 * 5)
print("### División ###")
print(10 / 3)
print("### Divisón entera ###")
print(10 // 3)
print("### Modulo ###")
print(18 % 7)
print("### Potencia ###")
print(4 ** 2)

### Suma ###
10
### Resta ###
0
### Multiplicación ###
15
### División ###
3.3333333333333335
### Divisón entera ###
3
### Modulo ###
4
### Potencia ###
16

## Variables
Para definir variables en Python utilizamos el simbolo de igual (`=`). Como buena práctica de programación, cuando definimos un nombre, utilizamos guión bajo (`_`) para separar las palabras. **Nunca usamos un punto** (Para los que vienen de R). Adicionalmente se debe usar caracteres especiales como tildes o ñ en los nombres de los objetos que definamos.

A continuación debe crear 4 variables. 
- La primera variable se debe llamar `refran` y debe ser un texto alusivo a un refran. Hint: Todos los textos deben estar entre comillas para que Python sepa que son textos.
- La segunda variable se debe llamar `x` y debe ser un número entero.
- La tercera variable se debe llamar `pi` y debe ser el número pi aproximado
- La cuarta variable se debe llamar `condicion` y debe tomar el valor de `True` o `False`

In [2]:
refran = "Perro que ladra no muerde"
x = 3
pi = 3.1416
condicion = True

Note que cada variable tiene un color diferente. El color está asociado al **tipo** de variable. En mi caso, se ve verde si la variable es un texto (*string*), amarillo si es un número (*integer* o *float*) y rojo si es una variable booleana (*bool*). Para chequear el tipo de una variable siplemente escribimos:
> type(nombre_de_la_variable)

In [3]:
print(type(refran))
print(type(x))
print(type(pi))
print(type(condicion))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

Saber la clase de los objetos con los que trabajamos es muy importante porque dependiendo de esta las operaciones y funciones a implementar van a cambiar su resultado. Por ejemplo, pruebe las siguientes operaciones:
```python
x + pi
pi - 2*condicion
not condicion
condicion + 0
refran + refran
refran * 5
```

In [4]:
print(x + pi)
print(pi - 2*condicion) 
print(not condicion) 
print(condicion + 0) # True equivale a 1 y False equivale a 0
print(refran + refran) # Se pueden concatenar strings usando +
print((refran + " ")* 5)

6.1416
1.1416
False
1
Perro que ladra no muerdePerro que ladra no muerde
Perro que ladra no muerde Perro que ladra no muerde Perro que ladra no muerde Perro que ladra no muerde Perro que ladra no muerde

## Listas
Las listas son una forma de almacenar una secuencia de objetos (iterables). Una lista puede contener objetos de diferentes tipos e incluso puede contener otras listas. La forma más fácil de construir una lista es con dos corchetes (`[]`) y separando los elementos con una coma (`["a", "b"]`)

In [5]:
beatles = ["John", "Paul", "George", "Ringo"]
print(beatles)
print(type(beatles)) 
notas_taller1 = [4.2, 3.8, 4.5, 2, 5]
print(notas_taller1)
random_list = ['mytext', 3.0, 7, [10, 20]]
print(random_list)
lista_vacia = []
print(lista_vacia)

['John', 'Paul', 'George', 'Ringo']
<class 'list'>
[4.2, 3.8, 4.5, 2, 5]
['mytext', 3.0, 7, [10, 20]]
[]

Python es un método de programación orientado a objetos, es decir que casi todas las variables que definimos tienen ciertos atributos y propiedades. Las listas son un objeto que nos permite hacer diferentes operaciones. Empecemos partiendo nuestras listas en algunos subconjuntos.

Cada elemento de una lista se encuentra en una posición. En Python se le conoce como *index* y **la primera posición es el 0**, la segunda es el 1 y así sucesivamente hasta llegar a la última posición la cual sería n - 1.

Por ende, si queremos extraer el primer elemento de una lista debemos escribir `nombre_lista[0]`

In [6]:
print(beatles[0])
print(beatles[1])
print(beatles[-1]) # Acceder al último elemento. Tenga en cuenta que es -1 y no -0 (:P).
print(beatles[-2]) # Acceder al n-ésimo - 1 elemento.
print(random_list[-1][0]) # Acceder al último elemento de la lista que es otra lista. Una vez en esa lista, accedemos al primer elemento de la lista

John
Paul
Ringo
George
10

Si queremos extraer más de un elemento podemos usar los siguientes trucos. Tenga en cuenta que los corchetes en Python son inclusivos por la izquierda pero exclusivos por la derecha.

In [7]:
example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 
print(example[0:5]) # Extraemos los primeros 5 elementos
print(example[1:5]) # De los primeros 5 elementos, extraemos los últimos 4
print(example[2:3]) # Solo extraemos el tercer elemento. No incluye el cuarto!
print(example[:3]) # Desde el comienzo al tercer elemento. Note que es excluyente a la derecha
print(example[3:]) # Desde el cuarto elemento hasta el final de la lista. Note que es incluyente a la izquierda
print(example[0:6:2]) # Comenzamos a extraer de 2 en dos desde el elemento 1 hasta el elemento 10. Syntaxis: nombre_lista[indice_inicial:indice_final:tamaño_paso]
print(example[::2]) # Extraer toda la lista de 2 en 2
print(example[::-1]) # Poner la lista en orden inverso
example[0] = "Hola" # También podemos modificar la lista
print(example)

[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[3]
[1, 2, 3]
[4, 5, 6, 7, 8, 9, 10]
[1, 3, 5]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
['Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10]

Las operaciones básicas entre listas son muy similares a las operaciones entre strings. 

OJO: Las listas son estructuras de datos, no vectores.

In [8]:
print(example + example)
print(example * 3)
print(example + ["Añadir nuevo elemento a la lista"])

['Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10]
['Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10]
['Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Añadir nuevo elemento a la lista']

## Condiciones
Antes de entrar a los *if statements* vamos a estudiar los diferentes tipos de condiciones:
| Operador | Resultado
| -------- | ---------
|   ==     | Igualdad
|   !=     | No es igual        
|   <      | Menor que
|   >      | Mayor que
|   <=     | Menor o igual
|   >=     | Mayor o igual
|   and    | Verifica si dos condiciones se cumplen
|   or     | Verifica si se cumple al menos una condición
|   not    | Niega una condición
|   in     | Verifica si un elemento está en una lista

Veamos

In [9]:
x = 2
condicion1 = x == 2 
condicion1

True

In [10]:
condicion2 = x == 3 
condicion2

False

In [11]:
condicion3 = x < 3
condicion3

True

In [12]:
# Recordemos en breve las tablas lógicas de verdad
print(condicion1 and condicion2) # T & F -> F
print(condicion2 and condicion1) # F & T -> F
print(condicion1 or condicion2) # T | F -> T
print(condicion2 or condicion1) # F | T -> T

False
False
True
True

## Control flows
Ejecutar código en caso de que se cumplan ciertas condiciones. Acá tenemos 3 comandos básicos: `if`, `else` y `elif`.

La sintaxis para los *control flows* es:

```
if condicion1:
    # Si la condición es True se ejecuta este chunk de código
    print("condicion1 es verdadera")
elif condicion2:
    # Si la condición 1 es False y la condición 2 es True, se ejecuta este chunk_de_codigo
    print("condicion1 es falsa y la condicion2 es verdadera")
else:
    # Si la condición 1 y 2 son falsas, se ejecuta este chunk_de_codigo
    print("condicion1 y la condicion 2 son falsas")
```

Python es un lenguaje minimalista por lo que para hacer *control flows* no usa paréntesis ni corchetes. Después de la condición solo se debe incluir el símbolo de dos puntos (`:`) y el código que se desea correr si la condicion es verdadera debe estar debajo e indentado por 4 espacios (un tab).

In [13]:
pid_explorer = "Enrique"
pid_crator = "Jose"

if pid_explorer == "Enrique" or pid_explorer == "Jose": 
    print("Puede visualizar el PID")

if pid_explorer == pid_crator:
    print("Puede modificar el PID")

Puede visualizar el PID

In [14]:
if pid_explorer == pid_crator:
    print("Puede modificar el PID")
else: 
    print(pid_explorer + " no tiene permisos para modificar el PID ")

Enrique no tiene permisos para modificar el PID

In [15]:
pid_owner = "Oscar"

if pid_owner == pid_crator:
    print("Puede modificar el PID")
elif pid_owner == pid_explorer:
    print("Puede visualizar y modificar el PID")
else: 
    print(pid_owner + " puede modificar el PID creado por " + pid_crator)

Oscar puede modificar el PID creado por Jose

## Loops

Existen dos tipos de loops.
- *for loops* en donde se itera sobre una lista de elementos.
- *while loops* en donde se itera hasta que cierta condición se deje de cumplir

In [16]:
# Iterar sobre los números del 0 al 4
for x in range(0, 5):
    print(x)

0
1
2
3
4

In [17]:
# Iterar sobre los números del 3 al 7 de dos en dos
for x in range(3, 8, 2):
    print(x)

3
5
7

In [18]:
# También se puede iterar sobre un string
for x in "Python":
   print(x)

P
y
t
h
o
n

In [19]:
# Break statement
mago = ["Harry", "Hermione", "Ron", "Voldemort", "Dumbledore"]
for x in mago:
    if x == "Voldemort":
        break # Es como un freno de mano
    print(x)

Harry
Hermione
Ron

In [20]:
# Continue statement
for x in mago:
    if x == "Voldemort":
        continue # Pare la iteración en la que va y continue con la siguiente
    print(x)

Harry
Hermione
Ron
Dumbledore

In [21]:
x = 1
while x < 5: 
    print(x)
    x += 1

1
2
3
4

## Funciones
La sintaxis sería:
```python
def nombre_funcion(parametro1, parametro2, ...):
    """
    Descripción de lo que hace la función

    :param parametro1: Descripción de qué es el input.
    :type parametro1: type
    :param parametro2: Descripción de qué es el input.
    :type parametro2: type
    ...
    :return type: Descripción de lo que es el output y qué valores puede tomar.
    """

    # Bloque de código
    
    return resultado
```

In [22]:
def suma_dos_numeros(a, b):
    """
    Esta función toma dos números y entrega la suma de estos.

    :param a: número a sumar.
    :type a: float.
    :param b: número a sumar.
    :type b: float.
    :return float: suma de a + b
    """
    
    resultado = a + b

    return resultado

In [23]:
suma_dos_numeros?

Signature: suma_dos_numeros(a, b)
Docstring:
Esta función toma dos números y entrega la suma de estos.

:param a: número a sumar.
:type a: float.
:param b: número a sumar.
:type b: float.
:return float: suma de a + b
File:      c:\users\arias\appdata\local\temp\ipykernel_29652\1878952509.py
Type:      function

In [24]:
suma_dos_numeros(2, 3)

5

### Diccionarios

Los diccionarios son usados para hacer variables que mapean e indexan elementos no organizados. En un formato de llaves y valores.

```python
diccionario = {
     key1: value1,
     key2: value2,
        .
        .
        .
    }
```
1. Defina "a" como un entero y "b" como un caracter.
2. Defina un dictionario llamado dict_1 donde incluya un número (float), "a", "b" y lista_1
3. Accedamos a los elementos

In [28]:
lista_1 = [13,3,7,45]
a = 7
b = 'Python'
diccionario = {"a": a, "b": b, "lista": lista_1, "numero":3.14}

In [29]:
diccionario

{'a': 7, 'b': 'Python', 'lista': [13, 3, 7, 45], 'numero': 3.14}

In [30]:
diccionario['lista']

[13, 3, 7, 45]

In [31]:
diccionario = {'a': a, 'b': b, 'lista': lista_1, 'numero':3.14}

In [33]:
diccionario

{'a': 7, 'b': 'Python', 'lista': [13, 3, 7, 45], 'numero': 3.14}

In [34]:
perro = {'raza': 'Alaska', 'peludo': True, 'edad': 3, 3: 'Si'}

In [35]:
print(perro['raza'])
print(perro['peludo'])
print(perro[3])

Alaska
True
Si

In [36]:
perro['raza'] = 'Golden'
perro['edad'] += 16
print(perro)

{'raza': 'Golden', 'peludo': True, 'edad': 19, 3: 'Si'}

## Submodulos en PID

In [37]:
## Diccionario de submodulos

In [38]:
equipo = {
    'id': '3.1.1',
    'equipment': 'Eq_1_P',
    'label': 'Rig_D_T1_P',
    'type_geometry': 'Desviado',
    'type_use': 'Producer',
    'quantity': 0,
    'quantity_context': [4],
    'iva': 0.19,
    'uncertainty': [
        {'category': 1, 'value': 1.0},
        {'category': 7, 'value': 8.3},
        {'category': 8, 'value': 8.6},
        {'category': 9, 'value': 1.0},
        {'category': 10, 'value': 2.0}
    ]
}

# Programación orientada a objetos.
 
La programación orientada a objetos (OOP) es una forma de estructurar la programación agrupando comportamientos y propiedades en entidades individuales que se llaman **objetos**.
 
Un objeto contiene dos puntos importantes:
 
* Atributos: Conjunto de datos.
* Métodos: Comportamientos posibles.
 
__Clases__ vs __Instancias__.
    * __Clase__: Este es el molde que define como un objeto debe ser creado. No contiene datos.
    * __Instancia__: Este se construye a partir de la clase y contiene datos reales.
 
-> La clase es un formulario y la instancia es este formulario con la información diligenciada.

La sintaxis sería:
```python
    class NombreClase:
        def __init__():
            self.atributo1 = valor

        def metodo1(self, parametros):
            pass
    
```

In [50]:
class UsuarioPID:
    def __init__(self, nombre, apellido, rol): # Parametros que necesito para mi objeto
        
        # Atributos
        self.nombre = nombre
        self.apellido = apellido
        self.rol = rol

    def presentacion(self): # Funcion que se puede hacer
        print(f"Hola, mi nombre es {self.nombre} {self.apellido} y mi rol en la aplicación es de {self.rol}")

In [51]:
usuario1 = UsuarioPID('Jose', 'Ñungo', 'Desarrollador')
usuario2 = UsuarioPID('Enrique', 'Gallarado', 'Administrador')

In [52]:
usuario1.presentacion()
usuario2.presentacion()

Hola, mi nombre es Jose Ñungo y mi rol en la aplicación es de Desarrollador
Hola, mi nombre es Enrique Gallarado y mi rol en la aplicación es de Administrador

# Paquetes (Introducción Pandas)

_Pandas_, este es el paquete más robusto y famoso en Python para la manipulación de bases de datos.

En Pandas existen tres tipos de estructuras: 

- Series: data en un arreglo 1D, etiquetada, homogénea e inmutable de tamaño
- **Data Frames**: arreglo 2D, tamaño mutable, columnas heterogéneas, etiquetadas
- Panel: arreglo 3D, tamaño mutable.

<img src="https://pandas.pydata.org/docs/_images/01_table_dataframe.svg" alt="Pandas DataFrame">
<img src="https://pandas.pydata.org/docs/_images/01_table_series.svg" alt="Pandas DataFrame">

In [2]:
import pandas as pd

In [11]:
# Cree 4 listas
nombres=['Mateo', 'Sara', 'Juan', 'Carla']
sexo=['F', 'M', 'M', None]
edad=[24,21,25,30]
notas=[4.5, 2, 3.25, 4]

In [13]:
diccionario={'names':nombres, 'sex':sexo, 'age':edad, 'grades':notas} # Contruya un diccionario
diccionario

{'names': ['Mateo', 'Sara', 'Juan', 'Carla'],
 'sex': ['F', 'M', 'M', None],
 'age': [24, 21, 25, 30],
 'grades': [4.5, 2, 3.25, 4]}

In [14]:
data=pd.DataFrame(diccionario) # Conviértalo en data frame

In [15]:
data

   names   sex  age  grades
0  Mateo     F   24    4.50
1   Sara     M   21    2.00
2   Juan     M   25    3.25
3  Carla  None   30    4.00

## Cargar archivos como DataFrame

In [14]:
data = pd.read_csv('../DatosRioCeibas/df_model.csv')
data

,ENTITY,IDEA_ID,IDEA_VERSION,TYPE_CATEGORY,CODE_CATEGORY,FIELD_AGREEMENT_ID,FACILITY,CLUSTER,GROUP,RIG,...,RECOVERY_METHOD,SCENARIO,PATRON,FIXED,VOLUME_DATE,ACTIVITY_DATE,WELL_TYPE_U,WELL_ABANDONMENT_COST,DELTA_VOLUME,DELTA_ACTIVITY
0,107031-DOI-RICB-009,107031-3,1,1,PRO1,107031,RCN,3,N,Eq_1_P,...,Secondary,1,0,1,2026-06-01,2026-06-01 00:00:00,Injector,1.0,45,45.0
1,107031-DOI-RICB-019,107031-3,1,1,PRO1,107031,RCN,30,N,Eq_1_P,...,Secondary,1,1,1,2027-04-01,2027-04-01 00:00:00,Injector,1.0,55,55.0
2,107031-DOI-RICB-024,107031-3,1,1,PRO1,107031,RCN,18,N,Eq_1_P,...,Secondary,1,2,1,2026-10-01,2026-10-01 00:00:00,Injector,1.0,49,49.0
3,RIC-001LBA,107031-3,1,1,PRO1,107031,RCN,23,N,Eq_1_P,...,Secondary,1,3,1,2027-02-01,NaN,Injector,1.0,53,NaN
4,RIC-013,107031-3,1,1,PRO1,107031,RCN,26,N,Eq_1_P,...,Secondary,1,5,1,2027-03-01,NaN,Injector,1.0,54,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,RIC-049LBA,107031-0,3,0,OP1,107031,RCN,29,N,Eq_2_WO,...,Basic,1,15,1,2021-09-01,NaN,Injector,1.0,-12,NaN
107,RIC-049SSA,107031-0,3,0,OP1,107031,RCN,29,N,Eq_2_WO,...,Basic,1,16,1,2021-09-01,NaN,Injector,1.0,-12,NaN
108,RIC-050LBA,107031-0,3,0,OP1,107031,RCN,29,N,Eq_2_WO,...,Basic,1,18,1,2021-09-01,NaN,Injector,1.0,-12,NaN
109,RIC-085T,107031-0,3,0,OP1,107031,RCN,29,N,Eq_2_WO,...,Basic,1,23,1,2021-09-01,NaN,Injector,1.0,-12,NaN
110,RIC-029,107031-3,1,1,PRO1,107031,RCN,45,N,Eq_2_WO,...,Secondary,1,-1,1,2027-02-01,2027-02-01 00:00:00,Disposal,1.0,53,53.0

### Filtrar columnas
<img src="https://pandas.pydata.org/docs/_images/03_subset_columns.svg" title = "Columnas">

In [11]:
data[['CODE_CATEGORY', 'RECOVERY_METHOD']]

    CODE_CATEGORY RECOVERY_METHOD
0            PRO1       Secondary
1            PRO1       Secondary
2            PRO1       Secondary
3            PRO1       Secondary
4            PRO1       Secondary
..            ...             ...
106           OP1           Basic
107           OP1           Basic
108           OP1           Basic
109           OP1           Basic
110          PRO1       Secondary

[111 rows x 2 columns]

### Filtrar filas
<img src="https://pandas.pydata.org/docs/_images/03_subset_rows.svg" title="Filas">

In [10]:
data.loc[data.IDEA_ID == '107031-3']

,ENTITY,IDEA_ID,IDEA_VERSION,TYPE_CATEGORY,CODE_CATEGORY,FIELD_AGREEMENT_ID,FACILITY,CLUSTER,GROUP,RIG,...,RECOVERY_METHOD,SCENARIO,PATRON,FIXED,VOLUME_DATE,ACTIVITY_DATE,WELL_TYPE_U,WELL_ABANDONMENT_COST,DELTA_VOLUME,DELTA_ACTIVITY
0,107031-DOI-RICB-009,107031-3,1,1,PRO1,107031,RCN,3,N,Eq_1_P,...,Secondary,1,0,1,2026-06-01,2026-06-01 00:00:00,Injector,1.0,45,45.0
1,107031-DOI-RICB-019,107031-3,1,1,PRO1,107031,RCN,30,N,Eq_1_P,...,Secondary,1,1,1,2027-04-01,2027-04-01 00:00:00,Injector,1.0,55,55.0
2,107031-DOI-RICB-024,107031-3,1,1,PRO1,107031,RCN,18,N,Eq_1_P,...,Secondary,1,2,1,2026-10-01,2026-10-01 00:00:00,Injector,1.0,49,49.0
3,RIC-001LBA,107031-3,1,1,PRO1,107031,RCN,23,N,Eq_1_P,...,Secondary,1,3,1,2027-02-01,NaN,Injector,1.0,53,NaN
4,RIC-013,107031-3,1,1,PRO1,107031,RCN,26,N,Eq_1_P,...,Secondary,1,5,1,2027-03-01,NaN,Injector,1.0,54,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,RIC-082,107031-3,1,1,PRO1,107031,RCN,42,N,Eq_1_P,...,Secondary,1,13,1,2027-07-01,NaN,Producer,1.0,58,NaN
61,RIC-084,107031-3,1,1,PRO1,107031,RCN,6,N,Eq_2_WO,...,Secondary,1,1;20,1,2026-06-01,2026-06-01 00:00:00,Producer,1.0,45,45.0
62,RIC-086,107031-3,1,1,PRO1,107031,RCN,19,N,Eq_2_WO,...,Secondary,1,2;24,1,2026-10-01,2026-10-01 00:00:00,Producer,1.0,49,49.0
63,RIC-095,107031-3,1,1,PRO1,107031,RCN,29,N,Eq_1_P,...,Secondary,1,17;19;21,1,2027-02-01,NaN,Producer,1.0,53,NaN
110,RIC-029,107031-3,1,1,PRO1,107031,RCN,45,N,Eq_2_WO,...,Secondary,1,-1,1,2027-02-01,2027-02-01 00:00:00,Disposal,1.0,53,53.0

### Filas y columnas
<img src="https://pandas.pydata.org/docs/_images/03_subset_columns_rows.svg" title="Filas y Columnas">

In [12]:
data.loc[data.CODE_CATEGORY == 'PRO1', 'RECOVERY_METHOD']

0      Secondary
1      Secondary
2      Secondary
3      Secondary
4      Secondary
         ...
63     Secondary
64       Primary
65       Primary
66       Primary
110    Secondary
Name: RECOVERY_METHOD, Length: 68, dtype: object

In [13]:
data.loc[data.CODE_CATEGORY == 'PRO1', 'RECOVERY_METHOD'].value_counts()

Secondary    65
Primary       3
Name: RECOVERY_METHOD, dtype: int64